<template>
  <div class="container-fluid p-5">

    <div class="row justify-content-center">
      <div class="col-2">
        <label for="">Tamaño del tablero</label>
        <input type="text" class="form-control" v-model="size">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <button class="btn btn-outline-info"
                @click="nextStep()"
                :disabled="finished || (originCords == null || destCords == null)"
        >
          Avanzar
        </button>
      </div>
    </div>

    <div class="row" v-show="noSolution">
      <div class="col">
        <h1>Este sistema no tiene solución</h1>
      </div>
    </div>

    <div class="grid mt-5">

      <div class="row" v-for="(row, rowNumber) in board" :key="rowNumber">
        <div class="cell"
             :class="{
                        'is-origin': column.isOrigin,
                        'is-dest': column.isDest,
                        'is-obstacle': column.isObstacle,
                        'is-watched': column.parent != null,
                        'has-visited': column.hasVisited,
                        'last-visited' : column == lastSelected,
                        'best-route' : column.bestRoute == true
                      }"
             v-for="(column, columnNumber) in row"
             :key="columnNumber"
             @click="launchModalToSelect(rowNumber, columnNumber)"
        >
        <div class="row" v-if="column.parent !== null">
          <div class="col-md-12">
            <i class="fa" :class="getParentArrow(column)"></i>
          </div>
        </div>

          <div class="left-badge">
            <span>{{ (columnNumber + 1) + ( rowNumber * size) }}</span>
          </div>
          {{ (column.acumulatedCost > 0) ? column.acumulatedCost : (column.value > 0) ? column.value : '' }}
        </div>
      </div>
    </div>

    <!--<div class="row mt-5">-->
      <!--<div class="col-md-6">-->
        <!--Lista pública-->
        <!--<button class="btn btn-outline-primary ml-1"-->
                <!--v-for="(entity, index) in publicList"-->
                <!--:key="index"-->
        <!--&gt;-->
          <!--{{ entity.value }} { {{ entity.row }}, {{ entity.column }} }}-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="col-md-6">-->
        <!--Lista privada-->
        <!--<pre>-->
          <!--{{ privateList }}-->
        <!--</pre>-->
      <!--</div>-->
    <!--</div>-->

    <ModalSetOption
      @onOptionSelectedForCell="setOptionToCell"
      :triggerModal="triggerModalOption"
    />

  </div>
</template>

<script>
import ModalSetOption from './ModalSetOption'

export default {
  components: {
    ModalSetOption
  },

  data () {
    return {
      size: 6,
      board: [],
      triggerModalOption: 0,
      activeRow: null,
      activeColumn: null,
      privateList: [],
      publicList: [],
      originCords: null,
      destCords: null,
      lastSelected: null,
      finished: false,
      noSolution: false
    }
  },

  methods: {
    setBoard (size) {
      this.board = new Array(size)

      for (let r = 0; r < size; r++) {
        this.board[r] = []
        for (let c = 0; c < size; c++) {
          this.board[r].push({
            value: 0,
            parent: null,
            isOrigin: false,
            isDest: false,
            isObstacle: false,
            acumulatedCost: 0,
            hasVisited: false,
            row: r,
            column: c
          })
        }
      }
    },

    getParentArrow (entity) {
      if (entity.row === entity.parent.row) {
        if (entity.column < entity.parent.column) {
          return 'fa-arrow-right static'
        } else {
          return 'fa-arrow-left static'
        }
      }
      if (entity.column === entity.parent.column) {
        if (entity.row < entity.parent.row) {
          return 'fa-arrow-down static'
        } else {
          return 'fa-arrow-up static'
        }
      }

      if (entity.column > entity.parent.column && entity.row < entity.parent.row) {
        return 'fa-arrow-down rotate-45'
      }

      if (entity.column < entity.parent.column && entity.row < entity.parent.row) {
        return 'fa-arrow-down rotate-270'
      }

      if (entity.column > entity.parent.column && entity.row > entity.parent.row) {
        return 'fa-arrow-up rotate-45-neg'
      }

      if (entity.column < entity.parent.column && entity.row > entity.parent.row) {
        return 'fa-arrow-up rotate-45'
      }
    },

    launchModalToSelect (row, column) {
      this.activeRow = row
      this.activeColumn = column

      this.triggerModalOption++
    },

    setOptionToCell (payload) {
      if (payload.prop !== 'isObstacle') {
        this.deletePropToBoard(payload.prop)
      }
      if (payload.prop === 'isOrigin') {
        this.originCords = {
          row: this.activeRow,
          column: this.activeColumn
        }
      } else if (payload.prop === 'isDest') {
        this.destCords = {
          row: this.activeRow,
          column: this.activeColumn
        }
        this.board[this.activeRow][this.activeColumn].value = 0
      } else if (payload.prop === 'isObstacle') {
        this.board[this.activeRow][this.activeColumn].value = 0
      }

      this.board[this.activeRow][this.activeColumn][payload.prop] = payload.status
      this.activeRow = null
      this.activeColumn = null

      this.setEuristicFunctions()

      this.$forceUpdate()
    },

    deletePropToBoard (prop) {
      for (let r = 0; r < this.board.length; r++) {
        for (let c = 0; c < this.board[r].length; c++) {
          if (this.board[r][c][prop]) {
            this.board[r][c][prop] = false
          }
        }
      }
    },

    setEuristicFunctions () {
      if (this.originCords !== {} && this.destCords !== {}) {
        for (let r = 0; r < this.board.length; r++) {
          for (let c = 0; c < this.board[r].length; c++) {
            if (!this.board[r][c].isDest && !this.board[r][c].isObstacle) {
              this.board[r][c].value = Math.abs(this.destCords.row - r) + Math.abs(this.destCords.column - c)
            }
          }
        }
      }
    },

    getNeighbors (entity) {
      const rowUpperLimit = (entity.row >= this.board.length - 1) ? entity.row : entity.row + 1
      const rowLowerLimit = (entity.row === 0) ? 0 : entity.row - 1
      const columnUpperLimit = (entity.column >= this.board[0].length - 1) ? entity.column : entity.column + 1
      const columnLowerLimit = (entity.column === 0) ? 0 : entity.column - 1

      for (let r = rowLowerLimit; r <= rowUpperLimit; r++) {
        for (let c = columnLowerLimit; c <= columnUpperLimit; c++) {
          if (
            this.board[r][c].parent === null &&
            (r !== entity.row || c !== entity.column) &&
            !this.board[r][c].isOrigin &&
            !this.board[r][c].isObstacle
          ) {
            this.board[r][c].parent = entity
            const distanceToParent = (entity.row === r || entity.column === c) ? 10 : 14
            this.board[r][c].acumulatedCost = parseInt(this.board[r][c].value + distanceToParent)
            this.board[r][c].acumulatedCost = parseInt(this.board[r][c].acumulatedCost + entity.acumulatedCost)

            if (this.board[r][c].isDest) {
              this.finished = true
            }
            this.publicList.push(this.board[r][c])
            this.$forceUpdate()
          }
        }
      }
    },

    getLowerElementFromPublicList () {
      return this.publicList.sort((a, b) => {
        return a.acumulatedCost - b.acumulatedCost
      })
    },

    nextStep () {
      if (Object.keys(this.privateList).length === 0) {
        this.privateList.push(this.board[this.originCords.row][this.originCords.column])
        this.getNeighbors(this.board[this.originCords.row][this.originCords.column])
      } else {
        this.getNeighbors(this.lastSelected)
      }

      let lower = this.getLowerElementFromPublicList()[0]
      if (!lower) {
        this.finished = true
      } else {
        lower.hasVisited = true
        this.lastSelected = lower
        this.publicList.splice(0, 1)
      }
      this.$forceUpdate()
    },

    setBetterRoute (entity) {
      entity.bestRoute = true
      window.setTimeout(() => {
        if (entity.parent) {
          this.setBetterRoute(entity.parent)
          this.$forceUpdate()
        }
      }, 300)
    }
  },

  computed: {
    matrixSize () {
      return new Array(this.size)
    }
  },

  watch: {
    size (newSize) {
      this.setBoard(newSize)
    },
    finished (wasFinished) {
      if (wasFinished) {
        if (this.board[this.destCords.row][this.destCords.column].parent == null) {
          this.noSolution = true
        } else {
          this.setBetterRoute(this.board[this.destCords.row][this.destCords.column])
        }
      }
    }
  },

  mounted () {
    this.setBoard(this.size)
  }

}
</script>

<style>

.grid {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 1px;
}
.row {
  margin: 0;
}
.cell {
  border: 1px solid #ddd;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 1px;
  vertical-align: middle;
  font-size: 2em;
}
.cell:hover {
  background-color: #eee;
  cursor: pointer;
}

.fa-arrow-right.static {
  right: 0px;
  position: absolute;
  top: 2.2em;
  background-color: transparent;
  font-size: 18px;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  color: black;
}
.fa-arrow-left.static {
  left: 0px;
  position: absolute;
  top: 2.2em;
  background-color: transparent;
  font-size: 18px;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  color: black;
}
.fa-arrow-down.static {
  top: 4.2em;
  position: absolute;
  left: 2.2em;
  background-color: transparent;
  font-size: 18px;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  color: black;
}

.fa-arrow-down.rotate-45 {
  top: 4.2em;
  position: absolute;
  left: 0em;
  background-color: transparent;
  font-size: 18px;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  color: black;
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
}

.fa-arrow-down.rotate-270 {
  top: 4.2em;
  position: absolute;
  right: 0em;
  background-color: transparent;
  font-size: 18px;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  color: black;
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
}

.fa-arrow-up.rotate-45-neg {
  top: 0em;
  position: absolute;
  left: 0em;
  background-color: transparent;
  font-size: 18px;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  color: black;
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
}

.fa-arrow-up.rotate-45 {
  top: 0em;
  position: absolute;
  right: 0em;
  background-color: transparent;
  font-size: 18px;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  color: black;
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
}

.fa-arrow-up.static {
  bottom: -1.2em;
  position: absolute;
  left: 2.2em;
  background-color: transparent;
  font-size: 18px;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  color: black;
}

div.parent-to-left {

  width: 100%;
}
div.parent-to-left > i{
  position: absolute;
  left: 0px;
}

div.left-badge {
  left: 0px;
  top: 5px;
  background-color: #cbcbcb;
  font-size: 15px;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  color: white;
}

div.left-badge > span {
  color: #fff;
  line-height: 10px !important;
  font-size: 15px;
  top: 0px;
}

.is-origin {
  background-color: #3399ff;
  color: white;
}

.is-origin:hover {
  background-color: #99ccff;
}

.is-dest {
  background-color: #339933;
}

.is-dest:hover {
  background-color: #00cc00;
}

.is-obstacle {
  background-color: #cc0000;
}

.is-obstacle:hover {
  background-color: #ff5050;
}

.is-watched {
  border-color: #009933;
  border-width: 2px;
}

.has-visited {
  background-color: rgba(51, 153, 51, .5);
}
.last-visited {
  border-color: #0000cc;
}
.best-route {
  background-color: #0000ff;
  border-color: #0000ff;
  color: #fff;
}
</style>
